<h1>Build-Da-Burger</h1>
<img src="/assets/img/cartoon-burger.jpg" alt="eat-a-burger">

{{!-- List burgers --}}

<div class="container-content">
  <div class="container">
    <div class="row">
      {{!-- burger false --}}
      <div class="col">
        <div class="false-burgers">
          <h3>Burger False</h3>
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
              <p>
                {{this.id}} -- {{this.burger_name}}
                <button data-burgerid="{{this.id}}" class="devour-burger">Devour Burger</button>
              </p>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>

      {{!-- burger true --}}
      <div class="col">
        <div class="true-burgers">
          <h3>Burger True</h3>
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
              <p>
                {{this.id}} -- {{this.burger_name}}
              </p>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{!-- add new burger button --}}
  <div class="container-button">
    <h2>Eat-Da-Burger</h2>
    <form id="add-burger">
      <textarea type="text" name="burger" rows="4" cols="50"></textarea>
      <div class="submit-button">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </form>
  </div>

</div>

<script type="text/javascript">
  // Handle add burger on-submit event
  $("#add-burger").on("submit", function (event) {
    event.preventDefault();

    let addBurger = {
      burger_name: $("#add-burger [name=burger]").val().trim()

    }
    console.log("add new burger", addBurger)

    // Send the POST request
    $.ajax("/api/burgers", {
      type: "POST",
      data: addBurger
    }, function () {
      console.log('burger added');
      // Reload the page to update burger list
      location.reload();
    });
  });

  // Handle devour event - change burger boolean value
  $(".devour-burger").on("click", function (event) {
    event.preventDefault();
    let id = $(this).data("burgerid");
    console.log("burger id to update:", id)

    // Send the PUT requst
    $.ajax(`/api/burgers/${id}`, {
      type: "PUT"
    }, function () {
      console.log('Burger been devoured');
      // Reload the page to update burger list
      location.reload();
    });



  })

</script>
